. {{ scripts_dir }}/setEnv.sh

# Stop script running more than once.
if [[ -f /etc/oratab ]]
then
  exit 0
fi

sh {{ ora_inventory }}/orainstRoot.sh

sh {{ oracle_base }}/{{ oracle_home_ext }}/root.sh

exit 0